@import url("variables.css");
@import url("media.css");
* {
  margin: 0;
  padding: 0; }

body {
  color: var(--color-primario);
  font-family: var(--fuente-primaria);
  background-color: var(--color-base); }

/*  - - - - - - - H E A D E R  - - - - - - - */
.header {
  width: 100%;
  grid-column: 1 / -1;
  align-content: center; }
  .header .nav {
    background-color: var(--color-base);
    color: var(--color-primario);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    z-index: 2; }
    .header .nav .nav__container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .nav .nav__container .logo img {
        height: 25px;
        margin-left: 30px; }
      .header .nav .nav__container label .icono__menu, .header .nav .nav__container input.nav__input {
        display: none; }
      .header .nav .nav__container ul {
        display: flex; }
        .header .nav .nav__container ul ul {
          position: absolute;
          display: none;
          background-color: var(--color-base); }
        .header .nav .nav__container ul li ul li a {
          text-decoration: none;
          --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
          .header .nav .nav__container ul li ul li a::after {
            content: "";
            display: block;
            background-color: var(--color-auxiliar);
            width: 95%;
            margin-top: 3px;
            height: 4px;
            clip-path: var(--clippy);
            transition: clip-path .2s; }
          .header .nav .nav__container ul li ul li a:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
        .header .nav .nav__container ul li:hover ul {
          display: block;
          height: 5em;
          padding-left: 20px;
          padding-bottom: 15px;
          background-color: var(--color-base); }
        .header .nav .nav__container ul li {
          margin-right: 30px;
          list-style: none;
          margin-top: 10px; }
          .header .nav .nav__container ul li .nav__item {
            text-decoration: none;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
            .header .nav .nav__container ul li .nav__item::after {
              content: "";
              display: block;
              background-color: var(--color-auxiliar);
              width: 95%;
              margin-top: 3px;
              height: 4px;
              clip-path: var(--clippy);
              transition: clip-path .2s; }
            .header .nav .nav__container ul li .nav__item:hover {
              --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

/*  - - - - - - - R E G I S T R A T E - - - - - - - */
.contenedor .mailingHome {
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 10px;
  grid-row: 4 / 5;
  height: 500px; }
  .contenedor .mailingHome .correo {
    width: 400px; }
    .contenedor .mailingHome .correo .labelCorreo {
      font-size: 20px;
      margin-left: 30px;
      padding-top: 30px; }
    .contenedor .mailingHome .correo .correo {
      width: 80%;
      padding: 12px;
      border: none;
      margin: 5px 20px 0 30px;
      outline: none;
      border-bottom: 4px solid var(--color-primario);
      color: var(--color-primario); }
  .contenedor .mailingHome .boton input {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--color-primario);
    background-color: var(--color-auxiliar);
    margin-top: 30px; }
    .contenedor .mailingHome .boton input:hover {
      background-color: #6dd4a1;
      transition: 0.3s; }

/*  - - - - - - -  F O O T E R  - - - - - - - */
.footer {
  background-color: var(--color-secundario);
  color: white;
  grid-column: 1 / -1;
  display: block;
  height: 200px;
  text-align: center; }
  .footer p {
    margin-top: 70px;
    font-size: var(--text-xl); }
  .footer .iconos {
    margin-top: var(--spacer-s); }
  .footer a {
    color: white;
    font-size: var(--text-2xl);
    margin: 0 var(--spacer-m); }

@media (max-width: 768px) {
  .header .nav .nav__container label .icono__menu {
    display: block;
    cursor: pointer;
    margin-right: 30px; }
  .header .nav .nav__container .nav__menu {
    position: fixed;
    background-color: var(--color-base);
    top: 110px;
    bottom: 60%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path .5s ease-in-out; }
  .header .nav .nav__container input.nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  .contenedor .mailingHome {
    display: block;
    margin: auto; }
    .contenedor .mailingHome h2 {
      margin-top: 35%; }
    .contenedor .mailingHome .correo {
      margin-top: 5%; }
    .contenedor .mailingHome .boton {
      width: 100%;
      align-self: center; }
      .contenedor .mailingHome .boton input {
        text-align: center;
        width: 100%;
        margin-top: 5%; } }
