
@import url('variables.css');

@import url('media.css');

/*-------------GRID PRINCIPAL----------*/
main.importacion{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--color-base);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px; 
}


footer.footer{
    align-items: center;
}

/*------------- I N F O  P R I N C I P AL ----------*/
.principal-Importacion{
    max-width: 1024px;
    width: 90%;
    margin: 150px auto;
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.importacion .imgImportacion{
    margin-right: 30px;
}

.importacion .principal-Importacion .imgImportacion h1{
   margin-bottom: 30px;
    font-size: 50px;
}

.principal-Importacion .imgImportacion img{
    min-width: 400px;
    width: 90%;
    border-radius: 5px;
}



.principal-Importacion .texto-Importacion{
    width:100%;
    min-width: 300px;
    max-height: 350px;
    background-color: white;
    align-self: center;
}


.importacion .imgSecundarias{
    max-width: 1360px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-column: 1 / -1;
    grid-row: auto;
    width: 90%;
    gap: 1rem;
    margin: auto;
}

.imgSecundarias .img1, .imgSecundarias .img2, .imgSecundarias .img3{
    width: 100%;
    border-radius: 5px;
    
}


/*  - - - - - - -   Z O N A  R E S P O N S I V E - - - - - - - */

@media screen and (max-width: 850px) {
    
    
    
    .principal-Importacion{
        width: 90%;
        grid-column: 1 /-1;
        display: flex;
        align-items: center;
    }
    
    .importacion .imgImportacion{
        margin: auto; 
    }
    
    .importacion .principal-Importacion .imgImportacion h1{
        font-size: 40px;
    }
    
    .principal-Importacion .imgImportacion img{
        border-radius: 5px;
        min-width: 350px;
        width: 85%;
        margin-right: 30px;
    }

    .principal-Importacion .texto-Importacion{
        width:100%;
        min-width: 300px;
        max-height: 350px;
        background-color: white;
        align-self: center;
        overflow: auto;
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    
    .principal-Importacion{
        width: 80%;
        grid-column: 1 /-1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .importacion .imgImportacion{
        margin: 30px auto;
    }
    
    .importacion .principal-Importacion .imgImportacion h1{
        font-size: 40px;
    }
    
    .principal-Importacion .imgImportacion img{
        min-width:350px;
        width: 95%;
        border-radius: 5px;
        
    }

    .principal-Importacion .texto-Importacion{
        width: 100%;
        max-height: 350px;
        background-color: white;
        margin-top: 90px;
    }
    

}