
@import url('variables.css');

@import url('media.css');

/*-------------GRID PRINCIPAL----------*/
main.importacion{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--color-base);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px; 
}


footer.footer{
    align-items: center;
}

/*------------- I N F O  P R I N C I P AL ----------*/
.principal-Importacion{
    max-width: 1024px;
    width: 90%;
    margin: 200px auto;
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.importacion .principal-Importacion .imgImportacion h1{
   margin-bottom: 30px;
    font-size: 50px;
}

.importacion .principal-Importacion .imgImportacion img{
    max-width: 900px;
    min-width: 300px;
    width: auto;
    border-radius: 5px;
}

.importacion .principal-Importacion img.imgImportacion{
   width: 90%;
   min-width: 300px;
   height: auto;
   align-self: center;
   justify-self: center;
   grid-row: span 1;
   grid-column: 1 / 2;
}

.importacion .principal-Importacion .texto-Importaciones{
    width: 80%;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: auto;
    max-height: 400px;
    background-color: white;
    align-self: center;
}


.importacion .imgSecundarias{
    max-width: 1360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / -1;
    grid-row: 2/ 3;
    width: 100%;
    grid-gap: 10px;
    align-items: center;  
}

.imgSecundarias .img1{
    grid-column: 1 /2;
    grid-row: 1 / 2;
    width: 100%;
    
}

.imgSecundarias .img2{
    grid-column: 2 / 3;
    justify-self: center;
    grid-row: 1 / 2;
    width: 100%;
}
.imgSecundarias .img3{
    grid-column: 3 / 4;
    justify-self: center;
    grid-row: 1 / 2;
    width: 100%;
}