@import url('variables.css');

@import url('media.css');

/*  - - - - - - -  P R I N C I P A L - - - - - - - */

.contenedor {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
}


/*  - - - - - - - M A I N   - - - - - - - */


.contenedor .contenido{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column: 1 / -1;
    margin: 100px 0 auto 0;   
}

.contenido .banner{
    grid-column: 1 /-1;
    position: relative; 
}

.contenedor .contenido .banner img{ 
    width: 100%;
}

.contenedor .contenido .banner P{ 
    font-weight: 700;
    font-size: var(--text-6xl);
    position: absolute;
    margin-top: 20%;
    margin-left: 100px;
    z-index: 1;
    color: var(--color-base);
    width: 25%;
 }

.contenido .infoMain{
    max-width: 1024px;
    width: 90%;
    margin: 100px auto;
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
}

.infoMain .textoMain{
    max-width: 500px;
    min-width: 250px;    
}


.contenido .imgMain img{ 
    width: 100%;
    min-width: 450px;
 }
 

/*  - - - - - - - S E R V I C I O S - - - - - - - */

.contenedor .servicios{
    max-width: 1024px;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-items: center;

}


.servicios .cardServicio{
    margin-bottom: var(--spacer-l);
    justify-content: center;
}

.servicios .textoServicio{
    margin-top: var(--spacer-m); 
}

.servicios .textoServicio p{
    margin-top: var(--spacer-m);
    overflow: auto;
    max-height: 200px;
    font-size: var(--text-l);
}

.contenedor .servicios article img{
    width: 100%;
    border-radius: 5px;
}



@media screen and (max-width: 768px) {

    .contenido .infoMain{
        
        width: 70%;
        grid-column: 1 /-1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contenedor .contenido .banner P{ 
        font-weight: 700;
        font-size: var(--text-5xl);
        position: absolute;
        margin-top: 20%;
        margin-left: 100px;
        z-index: 1;
        color: var(--color-base);
        width: 25%;
     }


  }