@import url('variables.css');

@import url('media.css');


*{
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-primario);
    font-family: var(--fuente-primaria);
    background-color: var(--color-base);
}

 
/*  - - - - - - - H E A D E R  - - - - - - - */

.header{
    
   
    width: 100%;
    grid-column: 1 / -1;
    align-content: center;

    .nav{
        background-color: var(--color-base);
        color: var(--color-primario);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 110px;
        z-index: 2;
        

        .nav__container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .logo img{
                height: 22px;
                margin-left: 30px;
                  
            }

            label .icono__menu, input.nav__input{
                display: none;
            }

            ul{
                display: flex;
                

                ul{
                    position: absolute;
                    display: none;
                    background-color: var(--color-base);        
                }

                li ul li a{
                    text-decoration: none;
                    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); // -----  A N I M A C I O N    H O V E R 

                    &::after{
                        content: "";
                        display: block;
                        background-color: var(--color-auxiliar);
                        width: 95%;
                        margin-top: 3px;
                        height: 4px;
                        clip-path: var(--clippy);
                        transition: clip-path .2s;
                    }
                    &:hover{
                        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); // -----  A N I M A C I O N    H O V E R
                    }
                }
                
                li:hover ul{
                    display: block;
                    height: 5em;
                    padding-left: 20px;
                    padding-bottom: 15px;
                    background-color: var(--color-base);  
                }

                li{
                    margin-right: 30px;
                    list-style: none;
                    margin-top: 10px;
                    
                    
                    .nav__item{
                        text-decoration: none;
                        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); // -----  A N I M A C I O N    H O V E R

                        &::after{
                            content: "";
                            display: block;
                            background-color: var(--color-auxiliar);
                            width: 95%;
                            margin-top: 3px;
                            height: 4px;
                            clip-path: var(--clippy);
                            transition: clip-path .2s;
                        }
                        &:hover{
                            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); // -----  A N I M A C I O N    H O V E R
                        }      
                    }
                }
            }
        }    
    }
}


/*  - - - - - - - R E G I S T R A T E - - - - - - - */


.contenedor .mailingHome{
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
    grid-row: 4 / 5;
    height: 500px;

    .correo{
        width: 400px;

        .labelCorreo{
            font-size: 20px;
            margin-left: 30px;
            padding-top: 30px;
        }

        .correo{
            font-size: var(--text-xl);
            font-weight: 200;
            width: 80%;
            padding: 12px;
            border: none;
            margin: 5px 20px 0 30px;
            outline: none;
            border-bottom: 3px solid var(--color-primario);
            color: var(--color-secundario);
        }
    }

    .boton input{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 5px;
        color: var(--color-base);
        background-color: var(--color-auxiliar);
        font-size: var(--text-l);

        &:hover{
            background-color: #6dd4a1;
            transition: 0.3s;
            }

    }

}


/*  - - - - - - -  F O O T E R  - - - - - - - */

.footer{
    background-color: var(--color-secundario);
    color: white;
    grid-column: 1 / -1;
    display: block;
    height: 200px;
    text-align: center;
    align-items: center;

    p {
        margin-top: 70px;
        font-size: var(--text-xl);
    }

    .iconos{
        margin-top: var(--spacer-s)
    }

    a{
        color: white;
        font-size: var(--text-2xl);
        margin: 0 var(--spacer-m);
    }


}


/*  - - - - - - -   Z O N A  R E S P O N S I V E - - - - - - - */


@media (max-width: 768px) {

    
    .header .nav .nav__container label .icono__menu{
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }

    .header .nav .nav__container .nav__menu{
        position: fixed;
        background-color: var(--color-base);
        top: 110px;
        bottom: 60%;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path .5s ease-in-out;
    }
    
    .header .nav .nav__container input.nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }
    
    .contenedor .mailingHome{
        
        display: block;
        margin: auto;
       
        h2{
           margin-top: 35%; 
           text-align: center;
        }

        .correo{
            margin-top: 5%;
        }

        .boton{
            width: 100%;
            align-self: center;

            input{
                text-align: center;
                width: 100%;
                margin-top: 5%;
            }
        }
    }
  }



